<!DOCTYPE html>
<html lang="en">
{% include 'navbar.html' %}
<head>
    <meta charset="UTF-8">
    <title>Data about coronavirus for a country.</title>
</head>
<body>

<div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
</div>

</body>
<script>
    var config = {
        type: 'line',
        data: {
            datasets: [{
                data: {{ data|safe }},
                backgroundColor: [
                    '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
                ],
                label: 'Cases'
            }],
            labels: {{ labels|safe }}
        },
        options: {
            responsive: true
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('pie-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };

</script>
</html>