<!DOCTYPE html>
<html lang="en">
{% include 'navbar.html' %}
<head>
    <title>Home</title>
    {% csrf_token %}
    <style>
        body {
            font-family: "Segoe UI";
            background: rgb(237, 238, 239);
        {#background: linear-gradient(0deg, rgba(44, 255, 210, 0.92) 0%, rgba(69, 165, 195, 0.92) 55%) no-repeat fixed;#}
        }

        {#h1 {#}
        {#    margin-right: auto;#}
        {#    margin-left: auto;#}
        {#    border-radius: 25pt;#}
        {#    background-color: rgba(255, 255, 255, 0.6);#}
        {#    padding: 10pt 10pt 10pt;#}
        {#    width: 600pt;#}
        {#    align: center;#}
        {#    position: center;#}
        {#}#}
    </style>
</head>
<body>
{% block navbar %}
{% endblock %}
<div class="container">
    <div class="row justify-content-center">
        <div>
            <h1 class="mt-2" style="color: rgb(54,151,212)">Home</h1>
            <hr class="mt-0 mb-4">

        </div>
    </div>
</div>
<div class="row col-md-12">
    <div class="row col-md-6">
<img src="https://image.ceneostatic.pl/data/products/99309622/i-nowy-porzadek-swiata-covid-19.jpg"
     class="img-fluid rounded-right" alt="Responsive image">
    </div>
    <div class="row col-md-6">
        <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Iaculis urna id volutpat lacus. Odio facilisis mauris sit amet massa vitae tortor condimentum. Metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Hac habitasse platea dictumst vestibulum. Sed ullamcorper morbi tincidunt ornare. Tristique risus nec feugiat in fermentum. Sem integer vitae justo eget magna fermentum iaculis eu non. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Erat velit scelerisque in dictum non. Morbi tristique senectus et netus. Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. In iaculis nunc sed augue lacus viverra vitae congue eu. Imperdiet proin fermentum leo vel orci porta non. Id eu nisl nunc mi ipsum. At erat pellentesque adipiscing commodo elit at imperdiet dui.

Justo donec enim diam vulputate ut pharetra sit. Tempus egestas sed sed risus pretium. Tristique magna sit amet purus gravida. Egestas integer eget aliquet nibh praesent tristique magna sit amet. Elementum tempus egestas sed sed risus pretium quam vulputate. Sagittis orci a scelerisque purus. Vitae nunc sed velit dignissim sodales ut. Orci nulla pellentesque dignissim enim. Mauris ultrices eros in cursus. Amet nisl purus in mollis nunc sed. Aliquet risus feugiat in ante metus dictum at tempor commodo. Morbi blandit cursus risus at ultrices mi tempus imperdiet nulla. Non pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Sed cras ornare arcu dui. Sed enim ut sem viverra aliquet eget. Quis auctor elit sed vulputate. Pretium aenean pharetra magna ac placerat vestibulum. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi.

At varius vel pharetra vel turpis nunc eget lorem. Feugiat nisl pretium fusce id velit ut tortor. Leo a diam sollicitudin tempor id. Ac ut consequat semper viverra. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu. Est velit egestas dui id. Commodo ullamcorper a lacus vestibulum sed arcu non. Rutrum quisque non tellus orci ac auctor augue mauris. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Quis vel eros donec ac odio tempor orci dapibus ultrices. Et netus et malesuada fames ac. Ac turpis egestas sed tempus urna et. Congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Diam quam nulla porttitor massa. Ut porttitor leo a diam sollicitudin tempor id. Aliquam purus sit amet luctus venenatis lectus. Posuere urna nec tincidunt praesent semper feugiat nibh sed. Bibendum enim facilisis gravida neque convallis.

Semper feugiat nibh sed pulvinar. Ac tortor vitae purus faucibus ornare suspendisse sed nisi. Vitae congue mauris rhoncus aenean. Mi eget mauris pharetra et ultrices neque ornare. At in tellus integer feugiat scelerisque. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Orci eu lobortis elementum nibh tellus molestie nunc. Vel risus commodo viverra maecenas accumsan. Odio euismod lacinia at quis risus sed vulputate. Et malesuada fames ac turpis egestas sed tempus. Suspendisse faucibus interdum posuere lorem. Eu tincidunt tortor aliquam nulla facilisi. Tempor id eu nisl nunc mi ipsum faucibus vitae. Ac turpis egestas sed tempus. Pretium vulputate sapien nec sagittis. Sit amet aliquam id diam maecenas ultricies mi. At tempor commodo ullamcorper a lacus vestibulum sed arcu. Ultrices dui sapien eget mi proin sed libero enim. Morbi tincidunt augue interdum velit euismod in pellentesque massa placerat. Dignissim convallis aenean et tortor.

Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Sit amet tellus cras adipiscing enim. Iaculis eu non diam phasellus vestibulum lorem sed risus. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Semper auctor neque vitae tempus quam. At volutpat diam ut venenatis tellus in metus vulputate. Id aliquet risus feugiat in ante. Tincidunt nunc pulvinar sapien et ligula ullamcorper. Egestas sed tempus urna et pharetra pharetra massa. Vel fringilla est ullamcorper eget nulla facilisi. Sociis natoque penatibus et magnis dis parturient montes.</p>
    </div>
</div>
</body>
</html>